name: install

on: 
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  install:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install
      run: |
        HOMEBREW_NO_INSTALL_FROM_API=1 brew install --formula --HEAD multiwfn.rb --with-openmp --verbose
