name: install

on: 
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  install:
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_FROM_API: 1
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@main
    - name: Install
      run: |
        brew install --build-from-source --verbose --HEAD --with-openmp multiwfn
    - name: Test
      run: |
        brew test multiwfn --verbose
